#u5472 {
  background-color: #ffffff;
  -pie-box-shadow: 0px 6px 14px #dbdbdb;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.14);
}
#u5473-6 {
  background-color: #ffffff;
  -pie-box-shadow: 1px 0px 0px #bfa16a;
  line-height: 29px;
  font-size: 24px;
  box-shadow: 1px 0px 0px #bfa16a;
}
#u5473-6.MuseLinkActive {
  background-color: #ffffff;
  -pie-box-shadow: 1px 0px 0px #bfa16a;
  box-shadow: 1px 0px 0px #bfa16a;
}
#u5473-3 {
  color: #703030;
  font-family: raleway, sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 16px;
  font-size: 13px;
}
.MenuItem {
  cursor: pointer;
}
#u5440 {
  background-color: #272b32;
}
#u5461-6 {
  background-color: transparent;
  line-height: 29px;
  font-size: 24px;
  color: #bfa16a;
}
#u5461-6.MuseLinkActive {
  text-shadow: none;
  -pie-box-shadow: none;
  background-color: transparent;
  box-shadow: none;
}
#u5461-6.MuseLinkActive p,
#u5461-6.MuseLinkActive span {
  visibility: inherit;
  color: #bfa16a;
}
#u5473-4,
#u5461-4 {
  line-height: 0px;
}
#u5473,
#u5461 {
  line-height: 29px;
  font-family: playfair-display, serif;
  font-weight: 400;
}
#u5473-2,
#u5461-2 {
  line-height: 29px;
}
#u5461-3 {
  letter-spacing: 2px;
  font-family: raleway, sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
}
#u5462-6 {
  background-color: transparent;
}
#u5462-2 {
  color: #7f7f7f;
  line-height: 27px;
  font-family: raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
}
#u5462-4 {
  color: #bfa16a;
  line-height: 30px;
  font-family: raleway, sans-serif;
  font-size: 20px;
  font-weight: 700;
}
#u5455-4,
#u5459-4,
#u5457-4,
#u5456-4,
#u5458-4 {
  -webkit-transition-delay: 0s;
  background-color: transparent;
  font-weight: 400;
  background-image: url('../images/blank.gif?crc=4208392903');
  -webkit-transition-duration: 0s;
  color: #7f7f7f;
  transition-duration: 0s;
  line-height: 19px;
  font-family: raleway, sans-serif;
  font-size: 16px;
  transition-delay: 0s;
}
#u5455-4:hover,
#u5459-4:hover,
#u5457-4:hover,
#u5456-4:hover,
#u5458-4:hover {
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.2s;
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-duration: 0.2s;
  transition-delay: 0s;
}
#u5455-4:hover p,
#u5459-4:hover p,
#u5457-4:hover p,
#u5456-4:hover p,
#u5458-4:hover p {
  letter-spacing: 2px;
}
#u5460-4,
#u5464-4 {
  background-color: transparent;
  line-height: 24px;
  font-weight: 600;
  color: #bfa16a;
  font-family: raleway, sans-serif;
  letter-spacing: 4px;
  font-size: 16px;
}
#u5465-4,
#u5467-4,
#u5466-4 {
  background-color: transparent;
  font-family: raleway, sans-serif;
  color: #7f7f7f;
  line-height: 19px;
  font-weight: 400;
  font-size: 16px;
}
#u5504,
#u5454,
#u5463,
#u5441 {
  background-color: transparent;
  border-color: transparent;
  border-width: 0px;
}
#u5448-4 {
  padding-top: 6px;
}
#u5451-4 {
  padding-top: 6px;
}
#u5442-4 {
  padding-top: 6px;
}
#u5448-6,
#u5451-6,
#u5442-6,
#u5445-6 {
  text-align: center;
  -webkit-transition-delay: 0s;
  background-color: transparent;
  background-image: url('../images/blank.gif?crc=4208392903');
  -webkit-transition-duration: 0s;
  color: #bfa16a;
  transition-duration: 0s;
  border-color: #bfa16a;
  border-style: solid;
  border-width: 1px;
  transition-delay: 0s;
}
#u5448-6:hover,
#u5451-6:hover,
#u5442-6:hover,
#u5445-6:hover {
  -webkit-transition-delay: 0s;
  background-color: #bfa16a;
  -webkit-transition-duration: 0.3s;
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-duration: 0.3s;
  transition-delay: 0s;
}
#u5448-6:hover p,
#u5448-6:hover span,
#u5451-6:hover p,
#u5451-6:hover span,
#u5442-6:hover p,
#u5442-6:hover span,
#u5445-6:hover p,
#u5445-6:hover span {
  visibility: inherit;
  color: #272b32;
}
#u5445-4 {
  padding-top: 6px;
}
#u5448-2,
#u5448-3,
#u5451-2,
#u5451-3,
#u5442-2,
#u5442-3,
#u5445-2,
#u5445-3 {
  color: #bfa16a;
}
#u5469-6 {
  text-align: center;
  background-color: transparent;
  color: #bfa16a;
  font-family: raleway, sans-serif;
  font-weight: 400;
}
#u5448,
#u5451,
#u5442,
#u5445,
#u5469 {
  font-size: 1px;
  line-height: 0px;
}
#u5450,
#u5453,
#u5444,
#u5447,
#u5471 {
  text-align: center;
  background-color: transparent;
  color: #bfa16a;
  border-color: transparent;
  border-width: 0px;
}
#u5468 {
  background-color: #bfa16a;
}
@media (min-width: 1201px), print {
  #menuu5474 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
  }
  #u5490 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u5490:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u5493-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    letter-spacing: 0px;
    color: #272b32;
    font-size: 14px;
    text-align: center;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u5490:hover #u5493-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u5483 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u5483:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u5484-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    text-align: center;
    color: #272b32;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u5483:hover #u5484-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u5478 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u5478:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u5481-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    text-align: center;
    color: #272b32;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u5478:hover #u5481-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u5489,
  #u5482,
  #u5475,
  #u5496 {
    background-color: transparent;
  }
  #u5497 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u5497:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u5490.MuseMenuActive,
  #u5483.MuseMenuActive,
  #u5478.MuseMenuActive,
  #u5497.MuseMenuActive {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
  }
  #u5500-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    text-align: center;
    color: #272b32;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u5497:hover #u5500-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u5490.MuseMenuActive #u5493-4 p,
  #u5483.MuseMenuActive #u5484-4 p,
  #u5478.MuseMenuActive #u5481-4 p,
  #u5497.MuseMenuActive #u5500-4 p {
    color: #bfa16a;
    visibility: inherit;
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  #u5503-4 {
    -pie-box-shadow: -1px 0px 0px #bfa16a;
    box-shadow: -1px 0px 0px #bfa16a;
    background-color: #ffffff;
    text-align: right;
    color: #703030;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u5503-4:hover {
    -pie-box-shadow: -1px 0px 0px #bfa16a;
    box-shadow: -1px 0px 0px #bfa16a;
  }
  #u5503-4:hover p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u5503-2 {
    padding-top: 11px;
  }
}
@media (min-width: 100100px) and (max-width: 1200px) {
  #menuu5474 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
  }
  #u5490 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u5490:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u5493-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    letter-spacing: 0px;
    color: #272b32;
    font-size: 14px;
    text-align: center;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u5490:hover #u5493-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u5483 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u5483:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u5484-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    text-align: center;
    color: #272b32;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u5483:hover #u5484-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u5478 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u5478:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u5481-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    text-align: center;
    color: #272b32;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u5478:hover #u5481-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u5489,
  #u5482,
  #u5475,
  #u5496 {
    background-color: transparent;
  }
  #u5497 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u5497:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u5490.MuseMenuActive,
  #u5483.MuseMenuActive,
  #u5478.MuseMenuActive,
  #u5497.MuseMenuActive {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
  }
  #u5500-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    text-align: center;
    color: #272b32;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u5497:hover #u5500-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u5490.MuseMenuActive #u5493-4 p,
  #u5483.MuseMenuActive #u5484-4 p,
  #u5478.MuseMenuActive #u5481-4 p,
  #u5497.MuseMenuActive #u5500-4 p {
    color: #bfa16a;
    visibility: inherit;
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  #u5503-4 {
    -pie-box-shadow: -1px 0px 0px #bfa16a;
    box-shadow: -1px 0px 0px #bfa16a;
    background-color: #ffffff;
    text-align: right;
    color: #703030;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u5503-4:hover {
    -pie-box-shadow: -1px 0px 0px #bfa16a;
    box-shadow: -1px 0px 0px #bfa16a;
  }
  #u5503-4:hover p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u5503-2 {
    padding-top: 11px;
  }
}
@media (min-width: 80100px) and (max-width: 1000px) {
  #menuu5474 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
  }
  #u5490 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u5490:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u5493-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    letter-spacing: 0px;
    color: #272b32;
    font-size: 14px;
    text-align: center;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u5490:hover #u5493-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u5483 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u5483:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u5484-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    text-align: center;
    color: #272b32;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u5483:hover #u5484-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u5478 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u5478:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u5481-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    text-align: center;
    color: #272b32;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u5478:hover #u5481-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u5489,
  #u5482,
  #u5475,
  #u5496 {
    background-color: transparent;
  }
  #u5497 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u5497:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u5490.MuseMenuActive,
  #u5483.MuseMenuActive,
  #u5478.MuseMenuActive,
  #u5497.MuseMenuActive {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
  }
  #u5500-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    text-align: center;
    color: #272b32;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u5497:hover #u5500-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u5490.MuseMenuActive #u5493-4 p,
  #u5483.MuseMenuActive #u5484-4 p,
  #u5478.MuseMenuActive #u5481-4 p,
  #u5497.MuseMenuActive #u5500-4 p {
    color: #bfa16a;
    visibility: inherit;
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  #u5503-4 {
    -pie-box-shadow: -1px 0px 0px #bfa16a;
    box-shadow: -1px 0px 0px #bfa16a;
    background-color: #ffffff;
    text-align: right;
    color: #703030;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u5503-4:hover {
    -pie-box-shadow: -1px 0px 0px #bfa16a;
    box-shadow: -1px 0px 0px #bfa16a;
  }
  #u5503-4:hover p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u5503-2 {
    padding-top: 11px;
  }
}
@media (min-width: 70100px) and (max-width: 800px) {
  #menuu5474 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
  }
  #u5490 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u5490:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u5493-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    letter-spacing: 0px;
    color: #272b32;
    font-size: 14px;
    text-align: center;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u5490:hover #u5493-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u5483 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u5483:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u5484-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    text-align: center;
    color: #272b32;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u5483:hover #u5484-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u5478 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u5478:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u5481-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    text-align: center;
    color: #272b32;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u5478:hover #u5481-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u5489,
  #u5482,
  #u5475,
  #u5496 {
    background-color: transparent;
  }
  #u5497 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u5497:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u5490.MuseMenuActive,
  #u5483.MuseMenuActive,
  #u5478.MuseMenuActive,
  #u5497.MuseMenuActive {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
  }
  #u5500-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    text-align: center;
    color: #272b32;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u5497:hover #u5500-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u5490.MuseMenuActive #u5493-4 p,
  #u5483.MuseMenuActive #u5484-4 p,
  #u5478.MuseMenuActive #u5481-4 p,
  #u5497.MuseMenuActive #u5500-4 p {
    color: #bfa16a;
    visibility: inherit;
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  #u5503-4 {
    -pie-box-shadow: -1px 0px 0px #bfa16a;
    box-shadow: -1px 0px 0px #bfa16a;
    background-color: #ffffff;
    text-align: right;
    color: #703030;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u5503-4:hover {
    -pie-box-shadow: -1px 0px 0px #bfa16a;
    box-shadow: -1px 0px 0px #bfa16a;
  }
  #u5503-4:hover p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u5503-2 {
    padding-top: 11px;
  }
}
@media (min-width: 60100px) and (max-width: 700px) {
  #u7032 {
    border-width: 0px;
    border-color: #999999;
    background-color: #252525;
  }
  #menuu6705 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
  }
  #u6721 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u6721:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u6724-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #f7f6f3;
    text-align: center;
    letter-spacing: 0px;
    font-size: 20px;
    line-height: 24px;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u6721:hover #u6724-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u6709 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u6709:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u6711-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #f7f6f3;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u6709:hover #u6711-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u6714 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u6714:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u6716-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #f7f6f3;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u6714:hover #u6716-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u7031,
  #u6720,
  #u6706,
  #u6713,
  #u6727 {
    background-color: transparent;
  }
  #u6728 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u6728:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u6721.MuseMenuActive,
  #u6709.MuseMenuActive,
  #u6714.MuseMenuActive,
  #u6728.MuseMenuActive {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
  }
  #u6730-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #f7f6f3;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u6728:hover #u6730-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u6721.MuseMenuActive #u6724-4 p,
  #u6709.MuseMenuActive #u6711-4 p,
  #u6714.MuseMenuActive #u6716-4 p,
  #u6728.MuseMenuActive #u6730-4 p {
    color: #bfa16a;
    visibility: inherit;
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  #u8054-4 {
    text-shadow: -1px 0px 0px #bfa16a;
    -pie-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    color: #bfa16a;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u8054-4:hover {
    text-shadow: -1px 0px 0px #bfa16a;
    -pie-box-shadow: none;
    box-shadow: none;
  }
  #u8054-4:hover p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u8054-2 {
    padding-top: 11px;
  }
  #u7086 {
    border-color: #dedede;
    background-color: transparent;
  }
  #u7086:hover {
    border-color: #999999;
  }
  #u7086.PamphletThumbSelected {
    border-color: #999999;
    background-color: transparent;
  }
  #u7087 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #010e36;
    font-size: 24px;
    text-align: center;
    line-height: 29px;
  }
  #u7083 {
    border-width: 0px;
    border-color: transparent;
    background-color: #ffffff;
  }
  #u7083:hover {
    border-color: #6b6b6b;
  }
  #u7084 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #252525;
    font-size: 24px;
    text-align: center;
    line-height: 29px;
  }
  .PamphletWidget .ThumbGroup .Thumb,
  .PamphletNextButton,
  .PamphletPrevButton,
  .PamphletCloseButton {
    cursor: pointer;
  }
}
@media (min-width: 50100px) and (max-width: 600px) {
  #u7032 {
    border-width: 0px;
    border-color: #999999;
    background-color: #252525;
  }
  #menuu6705 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
  }
  #u6721 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u6721:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u6724-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #f7f6f3;
    text-align: center;
    letter-spacing: 0px;
    font-size: 20px;
    line-height: 24px;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u6721:hover #u6724-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u6709 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u6709:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u6711-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #f7f6f3;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u6709:hover #u6711-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u6714 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u6714:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u6716-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #f7f6f3;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u6714:hover #u6716-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u7031,
  #u6720,
  #u6706,
  #u6713,
  #u6727 {
    background-color: transparent;
  }
  #u6728 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u6728:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u6721.MuseMenuActive,
  #u6709.MuseMenuActive,
  #u6714.MuseMenuActive,
  #u6728.MuseMenuActive {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
  }
  #u6730-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #f7f6f3;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u6728:hover #u6730-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u6721.MuseMenuActive #u6724-4 p,
  #u6709.MuseMenuActive #u6711-4 p,
  #u6714.MuseMenuActive #u6716-4 p,
  #u6728.MuseMenuActive #u6730-4 p {
    color: #bfa16a;
    visibility: inherit;
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  #u8054-4 {
    text-shadow: -1px 0px 0px #bfa16a;
    -pie-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    color: #bfa16a;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u8054-4:hover {
    text-shadow: -1px 0px 0px #bfa16a;
    -pie-box-shadow: none;
    box-shadow: none;
  }
  #u8054-4:hover p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u8054-2 {
    padding-top: 11px;
  }
  #u7086 {
    border-color: #dedede;
    background-color: transparent;
  }
  #u7086:hover {
    border-color: #999999;
  }
  #u7086.PamphletThumbSelected {
    border-color: #999999;
    background-color: transparent;
  }
  #u7087 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #010e36;
    font-size: 24px;
    text-align: center;
    line-height: 29px;
  }
  #u7083 {
    border-width: 0px;
    border-color: transparent;
    background-color: #ffffff;
  }
  #u7083:hover {
    border-color: #6b6b6b;
  }
  #u7084 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #252525;
    font-size: 24px;
    text-align: center;
    line-height: 29px;
  }
  .PamphletWidget .ThumbGroup .Thumb,
  .PamphletNextButton,
  .PamphletPrevButton,
  .PamphletCloseButton {
    cursor: pointer;
  }
  #u5440_align_to_page {
    max-width: 600px;
  }
}
@media (min-width: 40100px) and (max-width: 500px) {
  #u7032 {
    border-width: 0px;
    border-color: #999999;
    background-color: #252525;
  }
  #menuu6705 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
  }
  #u6721 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u6721:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u6724-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #f7f6f3;
    text-align: center;
    letter-spacing: 0px;
    font-size: 20px;
    line-height: 24px;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u6721:hover #u6724-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u6709 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u6709:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u6711-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #f7f6f3;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u6709:hover #u6711-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u6714 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u6714:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u6716-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #f7f6f3;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u6714:hover #u6716-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u7031,
  #u6720,
  #u6706,
  #u6713,
  #u6727 {
    background-color: transparent;
  }
  #u6728 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u6728:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u6721.MuseMenuActive,
  #u6709.MuseMenuActive,
  #u6714.MuseMenuActive,
  #u6728.MuseMenuActive {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
  }
  #u6730-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #f7f6f3;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u6728:hover #u6730-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u6721.MuseMenuActive #u6724-4 p,
  #u6709.MuseMenuActive #u6711-4 p,
  #u6714.MuseMenuActive #u6716-4 p,
  #u6728.MuseMenuActive #u6730-4 p {
    color: #bfa16a;
    visibility: inherit;
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  #u8054-4 {
    text-shadow: -1px 0px 0px #bfa16a;
    -pie-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    color: #bfa16a;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u8054-4:hover {
    text-shadow: -1px 0px 0px #bfa16a;
    -pie-box-shadow: none;
    box-shadow: none;
  }
  #u8054-4:hover p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u8054-2 {
    padding-top: 11px;
  }
  #u7086 {
    border-color: #dedede;
    background-color: transparent;
  }
  #u7086:hover {
    border-color: #999999;
  }
  #u7086.PamphletThumbSelected {
    border-color: #999999;
    background-color: transparent;
  }
  #u7087 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #010e36;
    font-size: 24px;
    text-align: center;
    line-height: 29px;
  }
  #u7083 {
    border-width: 0px;
    border-color: transparent;
    background-color: #ffffff;
  }
  #u7083:hover {
    border-color: #6b6b6b;
  }
  #u7084 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #252525;
    font-size: 24px;
    text-align: center;
    line-height: 29px;
  }
  .PamphletWidget .ThumbGroup .Thumb,
  .PamphletNextButton,
  .PamphletPrevButton,
  .PamphletCloseButton {
    cursor: pointer;
  }
  #u5440_align_to_page {
    max-width: 500px;
  }
}
@media (max-width: 600px) {
  #u7032 {
    border-width: 0px;
    border-color: #999999;
    background-color: #252525;
  }
  #menuu6705 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
  }
  #u6721 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u6721:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u6724-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #f7f6f3;
    text-align: center;
    letter-spacing: 0px;
    font-size: 20px;
    line-height: 24px;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u6721:hover #u6724-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u6709 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u6709:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u6711-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #f7f6f3;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u6709:hover #u6711-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u6714 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u6714:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u6716-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #f7f6f3;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u6714:hover #u6716-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u7031,
  #u6720,
  #u6706,
  #u6713,
  #u6727 {
    background-color: transparent;
  }
  #u6728 {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url('../images/blank.gif?crc=4208392903');
    background-color: transparent;
  }
  #u6728:hover {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }
  #u6721.MuseMenuActive,
  #u6709.MuseMenuActive,
  #u6714.MuseMenuActive,
  #u6728.MuseMenuActive {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
  }
  #u6730-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #f7f6f3;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u6728:hover #u6730-4 p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u6721.MuseMenuActive #u6724-4 p,
  #u6709.MuseMenuActive #u6711-4 p,
  #u6714.MuseMenuActive #u6716-4 p,
  #u6728.MuseMenuActive #u6730-4 p {
    color: #bfa16a;
    visibility: inherit;
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  #u8054-4 {
    text-shadow: -1px 0px 0px #bfa16a;
    -pie-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    color: #bfa16a;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: raleway, sans-serif;
    font-weight: 600;
  }
  #u8054-4:hover {
    text-shadow: -1px 0px 0px #bfa16a;
    -pie-box-shadow: none;
    box-shadow: none;
  }
  #u8054-4:hover p {
    color: #bfa16a;
    visibility: inherit;
  }
  #u8054-2 {
    padding-top: 11px;
  }
  #u7086 {
    border-color: #dedede;
    background-color: transparent;
  }
  #u7086:hover {
    border-color: #999999;
  }
  #u7086.PamphletThumbSelected {
    border-color: #999999;
    background-color: transparent;
  }
  #u7087 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #010e36;
    font-size: 24px;
    text-align: center;
    line-height: 29px;
  }
  #u7083 {
    border-width: 0px;
    border-color: transparent;
    background-color: #ffffff;
  }
  #u7083:hover {
    border-color: #6b6b6b;
  }
  #u7084 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #252525;
    font-size: 24px;
    text-align: center;
    line-height: 29px;
  }
  .PamphletWidget .ThumbGroup .Thumb,
  .PamphletNextButton,
  .PamphletPrevButton,
  .PamphletCloseButton {
    cursor: pointer;
  }
  #u5440_align_to_page {
    max-width: 400px;
  }
}
